Definitions/Snipptes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sinppet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="data" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sinppets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sinppet"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
